<!DOCTYPE html>
<html lang="en" class="h-100" ng-app="MyApp" ng-controller="MyCtrl" data-bs-theme="{{Theme}}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <title>DAS_Courses root Demo</title>
    <link rel="stylesheet" href="Resource/style.css">
    <script src="Resource/script.js"></script>
    <style>
        #BGImage {
            background: url("{{getImageOnTime()}}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>

<body id="BGImage" class="d-flex flex-column h-100">
    <div ng-include="'Module/Header.html'"></div>
    <div class="card my-4 mx-3">
        <div class="card-body m-0 p-0">
            <form class="row justify-content-center mx-0 py-4 needs-validation" novalidate ng-init="Validation()" action="${url}AdVideos" method="post">
                <!-- Video Detail -->
                <!-- <div class="col-12 col-lg-8 ps-4 pe-4 pe-lg-2 mx-0">
                    <div class="input-group mb-4 has-validation">
                        <span class="input-group-text d-none d-md-flex">https://www.youtube.com/watch?v=</span>
                        <input type="text" class="form-control form-control-lg" name="idYoutube" ng-init="IDVideo='eq8r1ZTma08'" ng-model="IDVideo" placeholder="IDYoutube" required>
                        <div class="invalid-feedback">ID Youtube</div>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control form-control-lg" id="txtVideoTitle" name="title" ng-init="TitleVideo='${video.title}'" ng-model="TitleVideo" placeholder="VideoTitle" required>
                        <label for="txtVideoTitle" class="form-label">Tiêu đề</label>
                        <div class="invalid-feedback">Tiêu đề không hợp lệ</div>
                    </div>
                    <div class="form-floating mb-4">
                        <textarea class="form-control form-control-lg" id="txtDescription" name="description" placeholder="Mô tả" style="height: 200px">${video.description}</textarea>
                        <label for="txtDescription">Mô tả</label>
                    </div>
                </div> -->


                <div class="card my-4 mx-1 mx-md-5">
                    <div class="card-body m-0 p-0">
                        <form class="row justify-content-center mx-0 py-4 needs-validation" novalidate ng-init="Validation()" action="${url}AdVideos" method="post">
                            <!-- Video Detail -->
                            <div class="col-12 col-lg-8 ps-4 pe-4 pe-lg-2 mx-0">
                                <div class="input-group mb-4 has-validation">
                                    <span class="input-group-text">https://www.youtube.com/watch?v=</span>
                                    <input type="text" class="form-control form-control-lg" name="idYoutube" ng-init="IDVideo='eq8r1ZTma08'" ng-model="IDVideo" placeholder="IDYoutube" required>
                                    <div class="invalid-feedback">ID Youtube</div>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control form-control-lg" id="txtVideoTitle" name="title" ng-init="TitleVideo='${video.title}'" ng-model="TitleVideo" placeholder="VideoTitle" required>
                                    <label for="txtVideoTitle" class="form-label">Tiêu đề</label>
                                    <div class="invalid-feedback">Tiêu đề không hợp lệ</div>
                                </div>
                                <div class="form-floating mb-4">
                                    <textarea class="form-control form-control-lg" id="txtDescription" name="description" placeholder="Mô tả" style="height: 200px">${video.description}</textarea>
                                    <label for="txtDescription">Mô tả</label>
                                </div>
                            </div>

                            <!-- Video Demo -->
                            <div class="col-12 col-lg-4 pt-4 pt-lg-0 ps-4 ps-lg-2 pe-4 mx-0">
                                <!-- <c:choose>
						<c:when test="${video.thumbnail != null}"><img class="img-fluid" src="${video.thumbnail}"></c:when>
						<c:otherwise><img class="img-fluid" src="{{'https://i3.ytimg.com/vi/'+IDVideo+'/maxresdefault.jpg'}}"></c:otherwise>
					</c:choose> -->
                                <img class="img-fluid" src="{{'https://i3.ytimg.com/vi/'+IDVideo+'/maxresdefault.jpg'}}" onload="checkYT(this)">
                                <div class="p-0 my-4">
                                    <div class="fs-5">{{TitleVideo}}</div>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="col-12 text-end px-4 mx-0 mt-5">
                                <button type="reset" class="btn btn-lg btn-outline-secondary" onclick="location.href=window.location.href.split('?')[0]">Huỷ</button>
                                <button type="submit" class="btn btn-lg btn-outline-success">Tải lên</button>
                                <button type="submit" class="btn btn-lg btn-outline-danger" ng-click="onDel='delete'">Xoá</button>
                                <input type="hidden" name="Del" value="{{onDel}}">
                            </div>
                        </form>
                    </div>
                </div>



                <!-- Button -->
                <div class="col-12 text-end px-4 mx-0 mt-5">
                    <button type="reset" class="btn btn-lg btn-outline-secondary" onclick="location.href=window.location.href.split('?')[0]">Huỷ</button>
                    <button type="submit" class="btn btn-lg btn-outline-success">Tải lên</button>
                    <button type="submit" class="btn btn-lg btn-outline-danger" ng-click="onDel='delete'">Xoá</button>
                    <input type="hidden" name="Del" value="{{onDel}}">
                </div>
            </form>
        </div>
    </div>



    <footer class="footer mt-auto py-1">
        <ul class="nav justify-content-center border-bottom pb-2 mb-2">
            <li class="nav-item"><a href="#" class="nav-link text-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-secondary">About</a></li>
        </ul>
        <p class="text-center text-secondary">Bản quyền &copy; 2023 thuộc về DAS</p>
    </footer>
    <!-- <div ng-include="'Module/Footer.html'"></div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>