.card{
    background-color: rgb(var(--bs-body-bg-rgb), 0.75);
    backdrop-filter: blur(5px);
}
.accordion{
    background-color: rgb(var(--bs-body-bg-rgb), 0.75);
}
div.navbar, footer{
    background-color: #171615;
    z-index: 1025;
}